*{margin:0;padding:0;list-style: none;text-decoration: none;}
$p-black:#2f2f2f;
$bgc-blue :#F7F9FB;
*{padding:0;margin:0;color:#2f2f2f}
p{font-size:.28rem;}
/* html{min-width:320px;max-width:750px;} */
body{margin:0 auto;}
img{width:100%;}
.content{
  background-color:$bgc-blue;
}
.content-head{
  margin-bottom: .97rem;

}
.content-header{
  height:1rem;
  margin : 0 auto;
  width:100%;
  position:relative;
  margin-bottom: 0.35rem;
  display:flex;
  text-align: center;
}
.content-header>h3{
  position:relative;
  margin:.21rem auto;
  font-size:0.4rem;
  font-family: blod;
  display:flex;
  padding:0 -.18rem;
  z-index:2;  
}
.content-header>h3::before{
  display:block;
  justify-content:center;
  content:"";
  position: absolute;
  width:100%;
  height:0.2rem;
  background:rgba(213,229,241,1);
  border-radius:.1rem;
  bottom:0rem;
  left:-10%;    //header的蓝色下划线
  width:120%;       
  z-index:-1;
}
.star1,.star2{
  width:1.22rem;
  height:0.42rem;
}
.star1{
  position:absolute;
  top:0.10rem;
  left:-1.23rem;
}
.star2{
  position: absolute;
  top:0.10rem;
  right:-1.23rem;
}

.header-intro{
  margin-top:.35rem;
  line-height:.54rem;
  p{
    background-color: #fff;
    height:100%;
    border-radius: .14rem;
    width:6.20rem;
    padding:.6rem .25rem ;
    margin:0 auto;
  }
}
.content-list>.content-header{
  margin-bottom: .25rem;
}

.content-item{
  padding:.32rem 0;
}
.content-item-header{
  padding:.32rem 0 .39rem 1.2rem;
  position: relative;
}
.content-item-header>h4{
  font-size:.3rem;
  font-family:PingFang-SC-Bold;
  font-weight:bold;
  color:rgba(47,47,47,1);
  padding-bottom: 0.02rem;
}
.content-item-header>.number-ball{
  width:.6rem;
  height:.6rem;
  background:rgba(245,202,64,1);
  border:0.02rem solid rgba(255, 255, 255, 1);
  border-radius:50%;
  font-size:.36rem;
  font-family:Helvetica-Bold;

  position:absolute;
  left:.39rem;
  top:0.2rem;
}
.content-item-header>.number-ball>.number{
  position:absolute;
  display:block;
  left:.17rem;
  top:.06rem;
  font-weight:bold;
  color:rgba(255,255,255,1);
}
.underdash{
  position: absolute;
  width:5.96rem;
  height:0rem;
  left:.92rem;
  border-bottom:2px dashed rgba(206,206,206,1);
}
.underdash::after{
  display:block;
  content:"";
  position: absolute;
  width:.12rem;
  height:.12rem;
  border-radius:50%;
  background:rgba(245,202,64,1);
  right:0;
  bottom:-0.06rem;
}
.content-item-imgbox{
  width:6.14rem;
  height:3.5rem;
  margin:.11rem .6rem;
  border:4px solid rgba(255,255,255,1);
  border-radius:.18rem;
  background:#EAEAEA;
  overflow: hidden;
}
.content-item-imgbox>img{
  max-width:100%;
  max-height:100%;
  min-height:100%;
  min-width:100%;
}
.content-item-p{
  width:6.14rem;
  margin:0 auto;
  p{
    font-weight:500;
    color:rgba(47,47,47,1);
    margin:.39rem 0 0 0;
  }
}
.qinzi{
  margin-top:1rem;
}
.bg-img-1{
  width:7.5rem;
  height:1rem;
  margin-bottom: 1rem;
  background-image: url("../images/image1.png")
}
.bg-img-2{
  width:7.5rem;
  height:1rem;
  background-image: url("../images/image2.png");
  background-size:cover;
}
.bg-img{
  width:7.5rem;
}
.book-info>ul>li{
  height:.26rem;
  line-height:.26rem;
  padding:.27rem;
  border-bottom:1px solid rgba(234,234,234,1);;
}

.info-header{
  font-size:.36rem;
  padding:.3rem;
}
.column1{
  float:left;
  color :#999;
  font-size:.26rem;
}
.column2{
  float:right;
  font-size:.26rem;
}